# پوشه محیط مجازی (بسیار حجیم و غیرضروری)
venv/

# فایل تنظیمات محیطی (شامل پسورد دیتابیس - بسیار مهم)
.env

# فایل‌های کش پایتون
__pycache__/
*.pyc

# فایل‌های تنظیمات IDE (اختیاری اما خوب)
.vscode/
.idea/